@import "constants";

/**
 * Code formatting
 */
pre {
  padding: 16px;
  font-family: $code-font;
  font-size: $small-content-size;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  border-radius: 3px;
  border: 0;
  overflow-x: auto;
}

pre[data-linenos] {
  padding: 8px 0;
}

figure.highlight {
  border: 0;

  pre {
    border: 0;
    padding: 0;
  }
}

code {
  font-family: $code-font;
  font-size: $small-content-size;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

pre table td {
  padding: 0;
}

// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
  border-right: 1px solid #AAA;
  width: 32px;
}

pre table td:nth-of-type(2) {
  padding-left: 8px;
}

pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}

pre table {
  width: 100%;
  border-collapse: collapse;
}