// Image captions
// Any text wrapped in an "<em>" tag after an image will be considered the
// image caption
figure + em,
img + em {
  border-top: 0;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.5),
    0 1px 8px 0 rgba(0,0,0,0.15);

  display: block;
  font-size: $content-size;
  margin: 0 0 2em 0;
  padding: 1em;

  position: relative;
  width: auto;
}

figure + p > em {
  display: block;
  color: $grey;
  font-size: $small-content-size;
  font-style: normal;
  line-height: $small-content-size * 2;
  margin-top: -1.25em;
  padding: 0.75em;
  border: 1px solid $grey;
  border-top: 0;
  border-radius: 0 0 3px 3px;

  strong {
    color: $orange;
    font-weight: normal;
    font-variant: small-caps;
  }
}

.caption {
  font-size: $small-content-size;
  font-style: normal;
  line-height: $content-size * 1.25;
  margin-right: -160px;
  position: absolute;
  right: 0;
  width: 160px;
}

.caption_container {
  position: relative;

  .caption {
    font-size: $small-content-size;
    font-style: normal;
    line-height: $content-size * 1.25;
    margin-right: -160px;
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
  }
}