h1, h2, h3, h4, h5 {
  color: $black;
  font-family: $header-font;
  font-weight: normal;
}

h1 { font-size: $h1-size; line-height: $h1-size / 1.5; }
h2 { font-size: $h2-size; }
h3 { font-size: $h3-size;}
h4 { font-size: $h4-size; }

h2, h3, h4 {
  &:before {
    content: '# ';
    color: $orange;
    margin-left: -1.0em;
    font-style: normal;
  }
}