// Normal links throughout the website
a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: $orange;
}

// Title links
.post-title {
  a {
    cursor: pointer;
    box-shadow: inset 0 -2px 0 0 $orange;
  }
}