ol, ul {
    margin: 0;
    padding: 0;

    // Nested lists
    ul { padding-left: 1.5em; }

    li {
        &::marker {
            color: $orange;
            content: '\2726';
        }

        &.post-item::marker {
            content: '';
        }

        margin-left: -0.5em;
        margin-bottom: 0.5em;
        padding-left: 0.8em;
    }
}

ol {
    padding-bottom: 2em;

    li {
        counter-increment: list;
        list-style-type: none;
        position: relative;

        &::marker {
            color: $orange;
            content: counter(list) ".";
            left:-32px;
            position: absolute;
            text-align: right;
            width: 26px;
        }
    }
}