<!doctype html>
<html lang='en'>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="a5huynh" />

  {# Defaults for non-post pages (home, tags, 404). page.html overrides these. #}
  {% block meta -%}
  <meta name="description" content="{{ config.description }}" />
  <meta property="og:title" content="{{ config.title }}" />
  <meta property="og:description" content="{{ config.description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ config.base_url | safe }}" />
  <meta name="twitter:card" content="summary" />
  {% endblock meta -%}

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  {% block favicon -%}
  <link rel="icon" href="{{ config.extra.favicon }}">
  {% endblock favicon -%}

  {% if config.generate_feeds -%}
  <link rel="alternate" type="application/atom+xml" title="{{ config.title }}"
    href="{{ get_url(path=config.feed_filenames[0], trailing_slash=false) | safe }}">
  {% endif -%}
  {# Load real italic and bold faces. Requesting only wght 400 meant every <em> and
     <strong> in a post was synthesised (faux) italic/bold by the browser. #}
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata:wght@400;700&display=swap"
    rel="stylesheet">
  {% block css -%}
  <link rel="stylesheet" href='{{ get_url(path="blog.css", trailing_slash=false) | safe }}' type="text/css">
  {% endblock css -%}
</head>
<body>
  {% block header -%}
  <div class='header'>
    <div id='big-name'>
      <a href='/'>Andrew Huynh</a>
    </div>
    <div id='my-attrs'>
      <div>Thoughts&nbsp;</div>
      <div>and ramblings.</div>
    </div>
    <div id='social-icons'>
      <div>
        {# Was a Google Mailhide link; Google shut that service down in 2018 and it
           had been returning 404. #}
        <a href='mailto:a5thuynh@gmail.com'>
          <img src='{{ get_url(path="img/email.svg", trailing_slash=false) }}' alt='Email me!'>
        </a>
      </div>
      <div>
        <a href='http://twitter.com/a5huynh'>
          <img src='{{ get_url(path="img/twitter.svg", trailing_slash=false) }}' alt='Follow me on Twitter!'>
        </a>
      </div>
      <div>
        <a href='http://www.linkedin.com/profile/view?id=30602610'>
          <img src='{{ get_url(path="img/linkedin.svg", trailing_slash=false) }}' alt='Check me out on LinkedIn.'>
        </a>
      </div>
    </div>
  </div>
  {% endblock header -%}
  {% block content -%}
  {% endblock content -%}
  <div class='footer'>
    Rabble-rouser.<br>
    Follow me on <a rel="me" href="https://mastodon.social/@a5huynh">Mastodon</a>.<br>
    Founder @ <a href='https://spyglass.fyi'>Spyglass Search</a>.<br>
    Like what you see? My website is <a href='https://github.com/a5huynh/a5huynh.github.com'>open source!</a>
  </div>
  {# MathJax is opt-in per page via `[extra] math = true` — see page.html. It used to
     load on all 33 pages, but only 4 posts contain any maths. #}
  {% block js %}
  {% endblock js %}
</body>
</html>