{% extends "_layouts/main.html" -%}
{% block js %}
<script type='text/javascript'>
    // Attempt to redirect old style URLs to the new style.
    if (window && window.location && window.location.pathname) {
        const path = window.location.pathname;
        const components = path.split('/');
        if (components.length == 5 && isFinite(parseInt(components[1]))) {
            const newStyle = `/posts/${components[1]}/${components[4].replace('.html', '')}`;
            window.location = newStyle;
        }
    }
</script>
{% endblock js %}
{% block content -%}
<div class="article">
  <h1>404</h1>
  <p>Sorry, the article you were looking for was not found.</p>
  <p>
    It has potentially been moved to a new URL, please check out the
    <a href='/'>homepage</a> to see if you can find it!
  </p>
</div>
{% endblock content -%}