{% extends "index.html" %}

{% block content %}
<div class='article'>
  <h1>{{ page.title }}</h1>
  <p class='meta'>
    {{ page.date | date(format="%Y %B %e") }} - {{ page.extra.location }} |
    <span>{{ page.content | wordcount }} words</span>
  </p>
  {% if page.taxonomies.tags %}
  <div class='post-tags'>
  {% for tag in page.taxonomies.tags %}
    <a href='{{ get_taxonomy_url(kind="tags", name=tag) }}'><span>#{{ tag }}</span></a>
  {% endfor %}
  </div>
  {% endif %}
  {{ page.content | safe }}
  <span id='#thats-all-folks'>&#8718;</span>
</div>
{% endblock content %}